<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
    <hgroup>
        <h1>Agora Vai</h1>
    </hgroup>
</header>

<main>
    <h2>@ViewData["Action"] efetuado com sucesso!</h2>
</main>