@{
    ViewData["Title"] = "Sessão Depoimentos";
    ViewData["h2"] = "Comentários";
}

    <header>
        @{
            Html.RenderPartial("_HeaderNavBar", ViewData["user"]);
        }
    </header>

<main>
    <h2>@ViewData["h2"]</h2>
    <form method="POST" action='@Url.Action("CadastroDepoimento", "Depoimento")'>
        <div>
            <label for="comentario">Insira seu depoimento sobre o produto</label>
            <br>
            <input type="text" name="comentario" id="comentario" maxlength="200">
        </div>

        <input type="submit" value="Enviar">
        
    </form>
</main>
