<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    } 
    <div id="logo_area">
        <img src="" alt="" title="logo" />

        <hgroup>
            <h1>Agora Vai</h1>
            <h2>A empresa que não deixa seus negócios atrasarem</h2>
        </hgroup>
    </div>

</header>
<main>
        <section id="banner">
            <div class="section-container">
                <p>Conheça o
                <br />
                <strong class="banner_destaque">Plano jumbo</strong>
                <br />
                <span class="up-text">O plano mais procurado por</span>
                <strong class="banner_destaque preco">R$300,00</strong>
                </p>
                <div class="filler"></div>
                <img src="" alt="" title="" />
            </div>
        </section>

         <section id="quem_somos">
            <div class="section-container">
                <div class="flex-group">
                    <h2>Sobre nós e o produto</h2>
                    <br>
                    <p>A empresa Agora Vai é 
                    <br>
                    especializada em fazer
                    <br>
                    produtos capazes de ajudar
                    <br>
                    outras empresas a se
                    <br>
                    organizrem, um exemplo disso
                    <br>
                    é nosso mais novo produto,
                    <br>
                    o Ponto Digital, que as 
                    <br>
                    ajuda a controlr os horários
                    <br>
                    de entrada e de saída dos 
                    <br>
                    seus funcionários</p>
                    <br>
                </div>
            </div>
        </section>

        <section id="historia">
            <div class="section-container">
                <div class="flex-group">
                    <h2>Nossa História</h2>
                    <br>
                    <p>A empresa surgiu da ideia de 
                    <br>
                    Carlos E. Tsukamoto e César Sportore
                    <br>
                    de ajudar outras empresas a se 
                    <br>
                    organizarem, pois onde trabalhavam
                    <br>
                    era uma bagunça, na qual os 
                    <br>
                    funcionários entravam quando queriam.</p>
                    <br>
                    </div>
            </div>
        </section>

        <section id="planos">
            <div class="section-container">
                <h2>Hamburgueres</h2>
                <div class="flex-group food-section">
                    <div>
                        <img src="" alt="" title="" />
                        <p>R$29,90</p>
                        <p>Plano indicado para
                        <br>  
                        empresas pequenas, de
                        <br> 
                        1 a 5 funcionários</p>
                    </div>
                    <div>
                        <img src="" alt="" title="" />
                        <p>R$149,90</p>
                        <p>Plano indicado para
                        <br> 
                        empresas com até
                        <br> 
                        50 funcionários</p>
                    </div>
                    <div>
                        <img src="" alt="" title="" />
                        <p>R$300,00</p>
                        <p>Plano indicado para 
                        <br> 
                        empresas com até
                        <br> 
                        150 funcionários</p>
                    </div>
                    <div>
                        <img src="" alt="" title="" />
                        <p>Sob Consulta</p>
                        <p>Plano indicado para
                        <br> 
                        empresas grandes, com
                        <br>
                        + de 150 funcionários</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="equipe">
            <div class="section-container">
                <h2>Funcionários</h2>
                <div class="flex-group team-section">
                    <div>
                        <img src="" alt="" title="" />
                        <p>Fulaninho</p>
                    </div>
                    <div>
                        <img src="" alt="" title="" />
                        <p>Fulaninha</p>
                    </div>
                    <div>
                        <img src="" alt="" title="" />
                        <p>Fulano</p>
                    </div>
                    <div>
                        <img src="" alt="" title="" />
                        <p>Fulana</p>
                    </div>
                </div>
                <div class="flex-group owner-section">
                    <div>
                        <img>
                        <p>Carlos Eduardo Tsukamoto</p>
                    </div>
                    <div>
                        <img>
                        <p>César Felipe Sportore</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="local">
            <div class="section-container">
                <h2>Endereço</h2>
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0658301188946!2d-46.652983984406625!3d-23.566079067653124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.+Paulista+-+Bela+Vista%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1552566562018" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </section>
</main>

